.jort-ploos-van {
  position: relative;
  display: inline-block;
  width: 326px;
  height: 44px;
  flex-shrink: 0;
}
.home {
  width: 88px;
}
.contact,
.home,
.reel {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 44px;
  flex-shrink: 0;
}
.reel {
  text-align: center;
  justify-content: center;
  width: 62px;
}
.contact {
  text-align: left;
  width: 117px;
}
.frame,
.frame1 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.frame1 {
  width: 357px;
  flex-shrink: 0;
  align-items: center;
  text-align: right;
}
.frame {
  width: 1356px;
  align-items: flex-start;
}
.screenshot-2023-08-26-at-1344 {
  position: relative;
  border-radius: 123px;
  width: 388px;
  height: 573px;
  object-fit: cover;
}
.jort-ploos {
  margin: 0;
}
.jort-ploos-van-amstel-container {
  align-self: stretch;
  position: relative;
  line-height: 90px;
}
.frame3 {
  width: 308px;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
}
.desktop-1,
.frame2,
.frame3 {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.frame2 {
  width: 632px;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  font-size: 128px;
  font-family: var(--font-vt323);
}
.desktop-1 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1024px;
  flex-direction: column;
  padding: var(--padding-20xl) 41px var(--padding-20xl) 43px;
  box-sizing: border-box;
  justify-content: center;
  gap: 142px;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-roboto-slab);
}
@media screen and (max-width: 1200px) {
  .frame {
    flex-direction: row;
    gap: 500px;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 960px) {
  .frame {
    flex-direction: row;
    gap: var(--gap-131xl);
    align-items: flex-start;
    justify-content: center;
  }
}
@media screen and (max-width: 420px) {
  .frame {
    flex-direction: row;
    gap: var(--gap-131xl);
    align-items: flex-start;
    justify-content: center;
  }
}
