body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-vt323: VT323;
  --font-roboto-slab: "Roboto Slab";

  /* font sizes */
  --font-size-11xl: 30px;

  /* Colors */
  --color-black: #000;

  /* Gaps */
  --gap-131xl: 150px;

  /* Paddings */
  --padding-20xl: 39px;
}
